##############################################################################################################################################


						GITIGNORE


##############################################################################################################################################

# golang @uvulpos
/tutorials/golang/999.Export-Binaries/export/
/tutorials/golang/999.Export-Binaries/exportscript.sh
